<div class="about" id="about">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h1 class="section-heading">about me</h1>
    <hr class="light">
  </div>
  <div class="left" id="conditional-hide">
    <h2 class="text-light-faded">Background</h2>
    <p class="text-faded">I am a self-taught developer who found a passion in technology as a whole.
       My interests in technology have taken me into the world of security and programming.
        The passion for code has become one that follows me to and from work,
         always striving to learn more or simply learn how something ticks.</p>
    </br>
    <hr class="light">
    <h2 class="text-light-faded">Work Experience</h2>
    <h3 class="text-faded-more">Software Developer - Sep 2019-Present</h3>
    <h3 class="text-faded-more" style="font-style: italic;">Veterinary Care Logistics</h3>
    <p class="text-faded">Carry out the visual design of the website following specifics designated by wants of the owner.
      Use Javascript, HTML, CSS, and PHP to create a visually striking landing page as well as secondary pages.
      Maintain the maximum uptime and hotfixes if the website would go down or bugs became known.</p>
    </br>
    <h3 class="text-faded-more">Software Developer - June 2019 - Sep 2019</h3>
    <h3 class="text-faded-more" style="font-style: italic;">Firefly Digital</h3>
    <p class="text-faded">Build and maintain best practice websites to be used by a variety of clientel. Use PHP and Laravel in combination with SQL to 
      provide a quality user experience of the "Student Portal" for the faculty, parents / guardians, and students.
    </p>
    </br>
    <h3 class="text-faded-more">I.T. Coordinator - Apr 2017 - June 2019</h3>
    <h3 class="text-faded-more" style="font-style: italic;">Veterinary Care Logistics</h3>
    <p class="text-faded">Institute protocols for the use of IT across departments and projects. 
      Provide advice on the most suitable IT choices. 
      Provide technical support or training for systems and networks. 
      Act as link between end users and higher level support. 
      Install and configure software and hardware (printers, network cards etc.). 
      Monitor system and network performance. 
      Perform troubleshooting, repairs and data restoration. 
      Performance maintenance activities (e.g. backups). 
      Maintain licenses and upgrade schedules. 
      Collaborate with other professionals to maintain standards and functionality. </p>
    </br>
    <h3 class="text-faded-more">Field and Install Technician - Feb 2017 - Mar 2018</h3>
    <h3 class="text-faded-more" style="font-style: italic;">Montana Opticom</h3>
    <p class="text-faded">Carry out the designed infrastructure of fiber optic networks in neighborhoods or developments.                                                  
      Assist the installer with bringing the network into the individual home or business.                                                                         
      Take repair orders to individual homes or businesses to test, diagnose, replace, or repair faulty equipment.</p>
    </br>
  </div>
  <div class="right" id="conditional-full-width">
    <div name="skills" id="skills-graph">
      <div class="skillbar clearfix " data-percent="70%">
          <div class="skillbar-title" style="background: #f44336;"><span>JavaScript</span></div>
          <div class="skillbar-bar" style="background: #f44336;"></div>
          <div class="skill-bar-percent">Pro</div>
        </div>
        <div class="skillbar clearfix " data-percent="80%">
          <div class="skillbar-title" style="background: #e91e63;"><span>HTML</span></div>
          <div class="skillbar-bar" style="background: #e91e63;"></div>
          <div class="skill-bar-percent">Pro</div>
        </div>
        <div class="skillbar clearfix " data-percent="80%">
          <div class="skillbar-title" style="background: #9c27b0;"><span>CSS</span></div>
          <div class="skillbar-bar" style="background: #9c27b0;"></div>
          <div class="skill-bar-percent">Pro</div>
        </div>
        <div class="skillbar clearfix " data-percent="50%">
          <div class="skillbar-title" style="background: #673ab7;"><span>PHP & Laravel</span></div>
          <div class="skillbar-bar" style="background: #673ab7;"></div>
          <div class="skill-bar-percent">Intermediate</div>
        </div>
        <div class="skillbar clearfix " data-percent="95%">
          <div class="skillbar-title" style="background: #3f51b5;"><span>Python</span></div>
          <div class="skillbar-bar" style="background: #3f51b5;"></div>
          <div class="skill-bar-percent">Expert</div>
        </div>
        <div class="skillbar clearfix " data-percent="40%">
          <div class="skillbar-title" style="background: #03a9f4;"><span>Java</span></div>
          <div class="skillbar-bar" style="background: #03a9f4;"></div>
          <div class="skill-bar-percent">Intermediate</div>
        </div>
        <div class="skillbar clearfix " data-percent="60%">
          <div class="skillbar-title" style="background: #00bcd4;"><span>Design</span></div>
          <div class="skillbar-bar" style="background: #00bcd4;"></div>
          <div class="skill-bar-percent">Intermediate</div>
        </div>
        <div class="skillbar clearfix " data-percent="70%">
          <div class="skillbar-title" style="background: #009688;"><span>Linux</span></div>
          <div class="skillbar-bar" style="background: #009688;"></div>
          <div class="skill-bar-percent">Pro</div>
        </div>
        <div class="skillbar clearfix " data-percent="65%">
          <div class="skillbar-title" style="background: #4caf50;"><span>NOSQL & SQL</span></div>
          <div class="skillbar-bar" style="background: #4caf50;"></div>
          <div class="skill-bar-percent">Intermediate</div>
        </div>
        <div class="skillbar clearfix " data-percent="100%">
          <div class="skillbar-title" style="background: #8bc34a;"><span>GitHub & GitLab</span></div>
          <div class="skillbar-bar" style="background: #8bc34a;"></div>
          <div class="skill-bar-percent">Expert</div>
        </div>
        <div class="skillbar clearfix " data-percent="50%">
          <div class="skillbar-title" style="background: #cddc39;"><span>C++</span></div>
          <div class="skillbar-bar" style="background: #cddc39;"></div>
          <div class="skill-bar-percent">Intermediate</div>
        </div>
        <div class="skillbar clearfix " data-percent="56%">
          <div class="skillbar-title" style="background: #ffeb3b;"><span>C#</span></div>
          <div class="skillbar-bar" style="background: #ffeb3b;"></div>
          <div class="skill-bar-percent">Intermediate</div>
        </div>
        <div class="skillbar clearfix " data-percent="76%">
          <div class="skillbar-title" style="background: #ffc107;"><span>Ruby</span></div>
          <div class="skillbar-bar" style="background: #ffc107;"></div>
          <div class="skill-bar-percent">Pro</div>
        </div>
        <div class="skillbar clearfix " data-percent="25%">
          <div class="skillbar-title" style="background: #ff9800;"><span>Go</span></div>
          <div class="skillbar-bar" style="background: #ff9800;"></div>
          <div class="skill-bar-percent">Next Adventure</div>
        </div>
      </section>
    </div>
    <div class="more-about-info">
      <a href="https://www.linkedin.com/in/code-codynoel/">More on LinkedIn</a>
      </br>
      <a href="'../img/cnres.pdf.pdf'">My Resume</a>
    </div>
  </div>
</div>
