<header id="conditional-background-offset">
  <div class="header-content">
    <div class="header-content-inner">
      <h1>Hi.</h1>
      <h3>I'm Cody Noel.</h3>
      <div id="conditional-hide-text">
        <p>Pet Dad</p>
        <p>Fiance</p>
        <p>Fullstack Developer</p>
        <p>Cyber / Physical Security Enthusiast</p>
        <p>Python Practitioner</p>
        <p>Student</p>
      </div>
      <br>
      <a href="#about" class="btn btn-default btn-xl page-scroll">More About Me</a>
    </div>
  </div>
</header>
