<section id="portfolio">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h1 class="section-heading-dark">work I'm proud of</h1>
    <hr class="dark">
  </div>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
      <a href="https://vetlogic.co" class="portfolio-box">
        <img src="../img/vetlogic.jpeg.PNG" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
          <div class="project-category text-faded">
            The most advanced Veterinary Inventory Professional on the market
          </div>
          <div class="project-name">
            Veterinary Care Logistics
          </div>
        </div>
        </div>
      </a>
      </div>
      <div class="col-lg-4 col-sm-6">
      <a href="https://pawlishedpetsboyd.com" class="portfolio-box">
        <img src="../img/pawl.jpeg.jpeg" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
          <div class="project-category text-faded">
            The best award winning dog groomer in Texas
          </div>
          <div class="project-name">
            Pawloshed Pets
          </div>
        </div>
        </div>
      </a>
      </div>
      <div class="col-lg-4 col-sm-6">
      <a href="https://www.veterinaryisn.com/" class="portfolio-box">
        <img src="../img/visn.jpeg" class="img-responsive" alt="">
        <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
          <div class="project-category text-faded">
            A network dedicated to bringing Inventory Management Professionals together
          </div>
          <div class="project-name">
            Veterinary Inventory Strategy Network
          </div>
        </div>
        </div>
      </a>
      </div>
    </div>
  </div>
</section>
